<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Subhlabh - Customer Management System{% endblock %}</title>
    {% load static %}
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/Logo.png' %}?v=1.1">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/Logo.png' %}?v=1.1">
    <link rel="apple-touch-icon" href="{% static 'images/Logo.png' %}?v=1.1">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/responsive.css' %}"> -->
    {% block extra_css %}{% endblock %}
</head>

<body>
    <div class="page-container">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>